@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display-p {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

 /* boton cv*/
.buttonCv {
  position: relative;
  width: 300px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  background-color: #e2ae03;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
}

.buttonCv, .button__icon, .button__text {
  transition: all 0.3s;
}

.buttonCv .button__text {
  transform: translateX(100px);
  color: #fff;
  font-weight: 600;
}

.buttonCv .button__icon {
  position: absolute;
  right: 0;
  transform: translateX(300px);
  height: 100%;
  width: 300px;
  background-color: #f0b904;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonCv .svg {
  width: 20px;
  fill: #fff;
}

.buttonCv:hover {
  background: #ffc506;
  box-shadow: none;
}

.buttonCv:hover .button__text {
  color: transparent;
}

.buttonCv:hover .button__icon {
  width: 300px;
  transform: translateX(0);
}

.buttonCv:active .button__icon {
  background-color: #ffc506;
}

.buttonCv:active {
  border: 1px solid #ffc506;
}

/* boton github */

.buttonGit {
  display: flex;
  background-color: rgb(24, 23, 23);
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
  box-shadow: 0 0 15px #ddd;
  width: 300px;
  height: 60px;
}

.buttonGit svg {
  height: 30px;
}

.buttonGit:hover {
  box-shadow: none;
}


.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  color: #e7e7e7;
}

.tiutuloPrincipal {
  font-size: 120px;
  text-align: center;
}

@media all and (min-width: 768px) and (max-width: 991px){
  .tiutuloPrincipal {
    font-size: 90px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .tiutuloPrincipal {
    font-size: 50px;
    text-align: center;
  }
}


#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #0f1923;
}

#collapsible-nav-dropdown {
  color: white;
}

.custom-toggler .navbar {
  position: fixed;
}
  -toggler {
  border-color: #fff;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* banner */

.banner{
  background-color: #111111;
 background-size: cover;
 background: linear-gradient(#000000, #191a23 );
 height: auto;
 padding-bottom: 30px;
}

.perfil{
  width: 180px;
  height: auto;
  border-radius: 50%;
box-shadow: 0 0 15px #ddd;
background: #fff;
}

.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: #ffc506;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 42px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #ffc506;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 11px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 2em);

}

.info{
  width: 100%;
  height: 400px;
  background-color: #ffc506;
  border-bottom-left-radius: 70px;
}


.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 10px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
  width: 100%;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #e4af03d3;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}


.proyectos{
  height: auto;
  background-color: #191a23 ;
  background: linear-gradient(#191a23, #000000  );
}

.habilidades {
  height: auto;
  background-color: #191a23 ;
  background: linear-gradient(#000000, #191a23 );
}

/* skills */

.skill {
  width: 100px;
  height: 100px;
  background: #212121;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: #fff;
  padding: 10px;
  margin: 30px;
  position: relative; /* Añade posición relativa para el tooltip */
}

.skill:hover {
  transform: scale(1.021);
}

.skill:active {
  transform: scale(0.95) rotateZ(1.1deg);
}

.ToolSkill {
  margin-top: 10px; /* Ajusta el margen superior */
}

.ToolSkill {
  position: absolute;
  top: 90%; 
  left: 50%; 
  transform: translateX(-50%); 
  padding: 0.5rem;
  color: white;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap; 
  z-index: 1; 
  visibility: hidden; 
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.skill:hover .ToolSkill {
  visibility: visible; 
  opacity: 1;
}



/* menu */

.btnMenu {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
  margin-right: 10px;
}

.btnMenu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.3s ease;
}

.btnMenu:hover {
  color: #1e1e2b;
  transition-delay: 0.3s;
}

.btnMenu:hover::before {
  width: 100%;
}

.btnMenu:hover::after {
  height: 100%;
  transition-delay: 0.2s;
  color: aliceblue;
}


/* proyectos */

.peliculas{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:60px;
  margin-bottom: 20px;
  .cardProyecto{
      text-decoration: none;
      color: #ffffff;
      .pelicula{
          width:100%;
          height: 250px;
          position: relative;
          overflow: hidden;
          border-radius: 10px;
          transition: all 0.5s ease;
         
          .imgTendencia{
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
          }
        
          .tituloPelicula{
              z-index: 2;
              position: absolute;
              text-align: center;
              top: 50%;
              left: 50%;
              max-width: 20rem;
              width: 100%;
              transform: translateY(-50%) translateX(-50%);
              .menuProyecto {
                  font-size: 1rem;
                  opacity: 0;
                  margin-bottom: 0.5rem;
                  letter-spacing: 0.1rem;
                  transition: opacity 0.5s ease-in-out;

              }     
          }
          &:hover{
             box-shadow: 0 0 30px #000000cd;
             transform: scale(1.05);
            
          }
          &:hover .menuProyecto {
              opacity: 1;
            
          }
          &:hover::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 10px;
              background-image: linear-gradient(-45deg, #050505bd 0%, #0e0b0cd3 100% ); /* Color rojo transparente */
              z-index: 1; /* Para asegurarse de que esté sobre la imagen */
              transition: transform 0.5s ease;
          }
      }
  }

}


.btnFiltro {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  margin-bottom: 5px;
}

@media all and (min-width: 768px) and (max-width: 991px){
  .btnFiltro {
   width: 150px;
   height: 50px;
   font-size: 12px;
    letter-spacing: 1.5px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .btnFiltro {
    width: 80px;
    height: 40px;
    font-size: 10px;
    letter-spacing: 1.5px;
    padding: 0;
  }
}

.btnFiltro .active {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.btnFiltro:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btnFiltro:active {
  transform: translateY(-1px);
}


.tituloProyecto{
  position: absolute;
  top: -100px;
  left: 0px;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 5px;
  font-size: 20px;
}

.imgModal{
  height: 50%;
}

/* contacto */

.contacto{
  height: auto;
  background-color: #000000ec;
}

.form-container {
  width: 400px;
  background: linear-gradient(#212121, #000000) padding-box,
              linear-gradient(145deg, transparent 35%,#DC0635, #ff0101) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 0 10px #ddd;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #e4e4e4;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #8a8a8a;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #8a8a8a;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #DC0635;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #DC0635;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: black;
  font-weight: 600;
  width: 40%;
  background: whitesmoke;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #ffc506;
  border-color: #fff;
}

.form-reset-btn{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: rgb(255, 255, 255);
  font-weight: 600;
  width: 40%;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #000000;
  border-color: #fff;
}

.form-reset-btn:hover{
  background-color: #ffffff;
  border-color: #fff;
  color: black
}


.bi-chevron-compact-down{
  font-size: 100px;
}


.text {
  font-size:28px;
  font-family:helvetica;
  font-weight:bold;
  color:#71d90b;
  text-transform:uppercase;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* modal */

.modal-content{
  background: black;
  color: white;
}

/* cert */
.certificados{
  height: auto;
  background-color: #191a23 ;
  background: linear-gradient(#191a23, #000000  );
}

.cardCert {
  width: 200px;
  height: 130px;
  background-size: cover;
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.borderCert {
  position: absolute;
  inset: 0px;
  border: 1px solid #000000;
  opacity: 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
}

 
.content {
  transition: all 0.5s ease-in-out;
}

.bottom-text {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  padding: 0px 5px 0px 8px;
  color: #bd9f67;
  background: #243137;
  opacity: 0;
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}

.content .logo-bottom-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  color: #bd9f67;
  padding-left: 8px;
  font-size: 11px;
  opacity: 0;
  letter-spacing: none;
  transition: all 0.5s ease-in-out 0.5s;
}

.cardCert:hover .bottom-text {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.cardCert:hover {
  border-radius: 0;
  transform: scale(1.05);
}

.cardCert:hover .borderCert {
  inset: 15px;
  opacity: 1;
  transform: rotate(0);
}

.cardCert:hover .bottom-text {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.cardCert:hover .content .logo-bottom-text {
  opacity: 1;
  letter-spacing: 9.5px;
}

.cardCert:hover .trail {
  animation: trail 1s ease-in-out;
}

@keyframes opacity {
  0% {
    border-right: 1px solid transparent;
  }

  10% {
    border-right: 1px solid #000000;
  }

  80% {
    border-right: 1px solid #000000;
  }

  100% {
    border-right: 1px solid black;
  }
}

.imgTitulo{
  width: 38px;
  margin: 0 10px 10px 0;

}



.social-card {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: rgb(255, 255, 255);
  padding: 20px 25px;
  border-radius: 14px;
  flex-direction: column;
}

@media (max-width: 767px) {
  .social-card {
    flex-direction: row;
  }
}

.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  z-index: 2;
}

.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
}

.github .BG {
  background: #181818;
}
.linkdin .BG {
  background: #0077b5;
}
.whatsapp .BG {
  background: #075e54;
}
.discord .BG {
  background: #7289da;
}

.Btn:hover .BG {
  transform: scale(1.5);
  /* transform-origin: bottom; */
  font-size: 20px;
  color: white;
}

.Btn:hover .svgContainer {
  backdrop-filter: blur(4px);
}

.Tooltip {
  position: absolute;
  top: 8px;
  left: calc(100% + 10px);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 3;
  margin-left: 25px;
  box-shadow: 0 0 15px #ddd;
}
@media (max-width: 767px) {
  .Tooltip {
    display: none;
  }
}


.Btn:hover .Tooltip {
  opacity: 1;
}



